.results-card {
    background-color: #30261a;
    border-radius: 10px;
    padding: 50px 30px;
    margin-top: 20px;
}

.mol-results-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    list-style-type: none;
}

