.mol-purple-btn {
    height: 45px;
    width: 150px;
    background-color: #7B96AD;
    color:#000;    
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}