@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #fadaca;
  color: #fff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

.mol-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#movies {
  padding: 0px 10px 40px 10px;
}
.results-card {
  background-color: #30261a;
  border-radius: 10px;
  padding: 50px 30px;
  margin-top: 20px;
}

.mol-results-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  list-style-type: none;
}

.results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

@media (max-width: 576px) {
  .results img {
    max-width: 120px !important;
  }

  .results p {
    max-width: 120px !important;
  }
}

.results div {
  padding: 10px 0px;
}

.results img {
  background-color: #fff;
  max-height: 200px;
  width: 140px;
  padding: 10px;
  cursor: pointer;
}

.results img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 174, 255));
}

.results div:active {
  transform: scale(0.9);
}

.results p {
  text-align: center;
  max-width: 140px;
  padding-top: 10px;
}

.description-card-invisible {
  display: none;
}

.description-card-visible {
  background-color: #30261a;
  border-radius: 10px;
  padding: 50px 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .description-card-visible {
    display: block;
    text-align: center;
  }
  .description-card-visible img {
    padding-top: 20px;
  }
}

.mol-description-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  list-style-type: none;
}

.description-card-visible ul li {
  list-style-type: none;
  margin-right: 20px;
}

.description-btn-conteiner-invisible {
  display: none;
}

.description-btn-conteiner-visible {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
